<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) Technify Pte Ltd - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Lee Quee Leong <leequeeleong@technify.com.sg> and
  ~ Seah Siu Ngee <seahsiungee@techinify.com.sg, May 2015
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinggoapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.dinggoapplication.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.dinggoapplication.permission.C2D_MESSAGE" />


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/DinggoTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- Release API -->
        <activity android:name="com.facebook.FacebookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.LoginRegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/dingoThemeLogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EatDrinkActivity"
            android:label="@string/title_activity_eat_drink"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.DealDetailsActivity"
            android:label="@string/title_activity_customer_deal_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.DingedDealDetailsActivity"
            android:label="@string/title_activity_customer_dinged_deal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CustomerPreferenceActivity"
            android:label="@string/title_activity_customer_preferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CustomerPreferenceManageNotifications"
            android:label="@string/title_activity_customer_preference_manage_deals"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CustomerPreferenceEat"
            android:label="@string/title_activity_customer_preference_eat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.DingedDealsActivity"
            android:label="@string/title_activity_dinged_deals" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.MerchantReviews"
            android:label="@string/title_activity_merchant_reviews" >
        </activity>
        <activity
            android:name=".activities.MerchantDetails"
            android:label="@string/title_activity_merchant_details" >
        </activity>


        <service android:name="com.parse.PushService"/>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.dinggoapplication" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/app_icon"/>
    </application>

</manifest>
