<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinggoapplication"
    android:versionCode="5"
    android:versionName="1.5" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/dingoTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- Release API -->
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/dingoThemeLogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CollectionActivity"
            android:label="@string/collection" >
        </activity>
        <activity
            android:name=".Activities.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.EatDrinkActivity"
            android:label="@string/title_activity_eat_drink"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CustomerDealDetailsActivity"
            android:label="@string/title_activity_customer_deal_details"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CustomerDingedDeal"
            android:label="@string/title_activity_customer_dinged_deal"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.MerchantActivity"
            android:label="@string/title_activity_merchant"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinggoapplication.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.DingADeal"
            android:label="@string/title_activity_ding_adeal"
            android:parentActivityName=".Activities.MerchantActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinggoapplication.Activities.MerchantActivity" />
        </activity>
        <activity
            android:name=".Activities.OngoingDeal"
            android:label="Ongoing Deal"
            android:parentActivityName=".Activities.MerchantActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinggoapplication.Activities.MerchantActivity" />
        </activity>
        <activity
            android:name=".Activities.CustomerPreferences"
            android:label="@string/title_activity_customer_preferences"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CustomerPreferenceManageNotifications"
            android:label="@string/title_activity_customer_preference_manage_deals"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.CustomerPreferenceEat"
            android:label="@string/title_activity_customer_preference_eat"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
